<!-- src/app/words-form/words-form.component.html -->
<form (submit)="done()" #wordsForm="ngForm">
      <h2 class="text-center" >Colruyt </h2>
      <div id="myDIV">
            <h3 id="heading" class="text-center">Add to Cart!</h3>
          </div>
      <div class="table-responsive">
      <table class="table" id="tbl" border="1">
      <tr class="header">
          <th id="btnHeader">#</th>
          <th>Id</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Amount</th>
        <tr *ngFor="let item of cartItems">
      
           <td id="cancelbtn"><button class="btn btn-danger btn-xs invoice" (click)="removeCartItem(rowIndex)">X</button></td>
           <td>{{item.id}}</td>
           <td>{{item.name}}</td>
           <td>{{item.qty}}</td>
           <td>{{item.price}}</td>
           <td>{{item.price*item.qty}}</td>
     </tr>
    </table>
</div>
  <div class="row">
    <div class="col mt-3 mb-3">
      <button id="gobtn"
        class="btn btn-block btn-lg btn-success">Go!</button>
    </div>
  </div>
</form>